@model IEnumerable<dynamic>

<div class="table-container">
    <h2 class="mb-4">@ViewData["Title"]</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                @foreach (var property in ViewData["Columns"] as IEnumerable<string>)
                {
                    <th>@property</th>
                }
                <th style="width: 250px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @foreach (var property in ViewData["Columns"] as IEnumerable<string>)
                    {
                        <td>@item.GetType().GetProperty(property).GetValue(item, null)</td>
                    }
                    <td class="nowrap">
                        <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.SurveyObjectId">Edit</a>
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.SurveyObjectId">Details</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.SurveyObjectId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>